.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartTitle {
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;

  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 17%;
  margin: 0 20px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
}

.countHandler input,
.countHandler button {
  height: 22px;
}

.countHandler input {
  width: 50px;
  text-align: center;
  font-weight: bolder;
}

.countHandler button {
  width: 30px;
}

.checkout p {
  text-align: center;
  font-size: 18px;
}

.checkout button,
.deleteItem button {
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  margin: 10px;
}

.deleteItem button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  background-color: rgb(196, 39, 39);
  font-size: 14px;
}